<% content_for :page_title, "Crie avaliações sobre possíveis candidatos a vagas de emprego" %>

<section class="section">
  <div class="container">
    <% @posts.each do |post| %>
    <div class="card">
      <div class="card-container">
        <div class="media">
          <div class="media-content">
            <p class="title is-4"> <%= link_to post.title, post %></p>
          </div>
        </div>
        <div class="content">
          <%= post.context %>
        </div>



      </div>
    </div>
    <% end %>
  </div>
</section>